# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\mxdong.HEYI\Desktop\geektime-spring-family-master\geektime-spring-family-master\Chapter 6\cnabsapi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
